/* Set the style to border-box */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #dddddd;
	font-family: 'Montserrat', sans-serif;
}

nav {
    height: 90px;
    line-height: 90px;
    font-size: 24pt;
}

nav .brand-logo { 
    font-size: 3.6rem; 
}

.navbar-fixed {
	margin-bottom: 50px;
}

.footerChip {
	width: 130px;
	text-align: center;
}

#topCardHome {
	display: block;
}

#topCardSearch {
	display: none;
}

.container-sign-in {
	
}

.container-twitch {
	display: none;
}